* {
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font 10";
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0;
}

.floating-notifications .notification {
  background: @background;
  border: 2px solid @border-color;
  margin: 6px;
}

.floating-notifications .close-button {
  opacity: 0;
}

.notification-action {
  border: 2px solid @border-color;
  border-top: none;
}

.image {
  margin: 4px 10px 4px 4px;
  border-radius: 8px;
}

.app-icon { /* nudge app icon badge to top left */
  margin: -30px 0px 0px -30px;
}

.summary {
  font-size: 1.2em;
  font-weight: 600;
  background: transparent;
  color: color-mix(in srgb, @color1, white);
  text-shadow: none;
}

.body {
  font-size: 1em;
  font-weight: 400;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.time {
  font-size: 1em;
  font-weight: 400;
  background: transparent;
  color: @text-light;
  text-shadow: none;
  margin-right: 18px;
}
